@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* @theme {
  --font-Bebas-Neue: "Bebas Neue"; 
} */

.bebas-neue-regular {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: system-ui, --font-Bebas-Neue;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

